$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: Times, Georgia, sans-serif;
$font-family-serif-headline: Times, Georgia, sans-serif;
$font-family-title: Helvetica, Arial, sans-serif;

$font-size-nav: 32px;
